.container {
    
    text-align: center;
    margin-left: 300px;
}
.btn {
    padding-top: 10px;
}
#formName {
    background-color: blue;
    height: 500px;
}
[type="date"] {
    width: 50%;
    padding: 12px;  
    border-radius: 4px;
    font-family: cursive;
}
#gender {
    width: 50%;
    padding: 12px;  
    border-radius: 4px;
    font-family: cursive;
}
label {
    font-size:50px;
    padding-top: 5px;
    font-family: cursive;
   
}
[type="submit"] {
    width: 50%;
    padding: 12px;  
    border-radius: 4px; 
    font-family: cursive;
   
}
.submit-btn {
    padding-top: 30px;
}
.selectbox {
    font-family: cursive;
}
.box {
    padding-top: 20px;
    font-family: cursive;
    color: white;
    font-weight: bold;
    font-size: larger;
}
h1 {
    font-family: cursive;
}